.reg {
  margin-bottom: 0;
  min-height: 100%;
  p {
    color: var(--color-font-light);
  }
  .title {
    color: var(--color-font);
    font-size: var(--font-size-4);
    margin: 0;
  }
  .sub-title {
    color: var(--color-font);
    font-size: var(--font-size-2);
  }
  a, p.small-warning {
    color: var(--color-primary);
    font-size: var(--font-size-small);
    margin-block-start: var(--top-margin-2);
    margin-block-end: var(--top-margin-2);
  }

  #quiz {
    font-size: var(--font-size-2);
    color: var(--color-font);
    .quiz-question {
      p {
        color: var(--color-font);
        margin-block-start: var(--top-margin-2);
        margin-block-end: var(--top-margin-2);
      }
      .quiz-option {
        margin: var(--top-margin-3) 0;
      }
      margin-bottom: 26px;
    }
  }

  #reg-mail1-info {
    margin-bottom: var(--top-margin-5);
  }

  .input-text {
    background-color: var(--color-bg-base);
    padding: var(--padding-1);
    input[type="text"] {
      width: 100%;
      background-color: var(--color-bg-base);
      font-size: var(--font-size-2);
    }
  }
  input[type="radio"] {
    margin: 0 8px 0 0;
    vertical-align: middle;
  }


  .reg-option {
    margin-top: 32px;
  }
}
